-c requirements.txt

# testing
pytest==6.2.5
pytest-qt==3.3.0
pytest-mock==3.7.0
pytest-cov==2.12.1
pytest-qgis==1.3.5

#stubs
pyqt5-stubs==5.15.6.0

# lock here since 1.4.1 has no binaries
atomicwrites==1.4.0

# linting
pre-commit==3.4.0
mypy==1.4.1
black==23.7.0
ruff==0.0.292

# flake8 libraries not included in ruff
flake8==6.0.0
flake8-pyproject==1.2.3
flake8-qgis==1.0.0
