-c requirements.txt

# testing
pytest==7.4.4
pytest-qt==4.5.0
pytest-mock==3.7.0
pytest-cov==5.0.0
pytest-qgis==3.0.0

#stubs
pyqt5-stubs==5.15.6.0

# lock here since 1.4.1 has no binaries
atomicwrites==1.4.0

# linting
pre-commit==4.5.1
mypy==1.19.1
black==23.7.0
ruff==0.15.7

# flake8 libraries not included in ruff
flake8==7.3.0
flake8-pyproject==1.2.3
flake8-qgis==2.0.1
